@use 'styles/colors';

.switch {
    height: 20px;
    width: 32px;
    background: colors.$tone-3;
    border: none;
    border-radius: 999px;
    display: block;
    position: relative;

    .knob {
        display: block;
        position: absolute;
        left: 2px;
        top: 2px;
        height: calc(100% - 4px);
        width: 50%;
        border-radius: 8px;
        background: colors.$white;
        transform: translateX(0);
        transition: transform 0.3s;
    }

    &[aria-checked='true'] {
        background: colors.$correct;
        .knob {
            transform: translateX(12px);
        }
    }
}

.dark {
    background: colors.$tone-3-dark;

    &[aria-checked='true'] {
        background: colors.$correct-dark;
        .knob {
            transform: translateX(12px);
        }
    }
}
