@use 'styles/variables';
@use 'styles/colors';
@use 'styles/mixins';

.navbar {
    @include mixins.flexContainer(row, space-between, center);
    width: calc(100% - 32px);
    height: 50px;
    padding: 0 16px;
    border-bottom: solid 1px colors.$tone-4;
    color: colors.$tone-1;

    span {
        font-family: variables.$font3;
        font-size: 32px;
        font-weight: 900;
        padding-top: 2px;
    }

    .left,
    .right {
        padding-top: 2px;
        @include mixins.flexContainer(row, flex-start, center);

        .icon {
            padding: 4px;
            cursor: pointer;
        }
    }
}

.dark {
    border-bottom: solid 1px colors.$tone-4-dark;
    color: colors.$tone-1-dark;
}
