@use 'styles/colors';
@use 'styles/variables';

.wrapper {
    width: 100%;
    height: calc(100vh - 252px);
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 1px;

    .board {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
        height: 399px;
        max-width: 330px;
        row-gap: 5px;

        .row {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            column-gap: 5px;

            .tile {
                flex: 1;
                display: flex;
                justify-content: center;
                align-items: center;
                max-width: 62px;
                height: 0;
                padding-top: 8.79%;
                padding-bottom: 8.79%;
                border: solid 2px colors.$tone-4;
                color: colors.$tone-1;
                font-family: variables.$font2;
                font-size: 32px;
                font-weight: 600;
                cursor: default;
            }

            .tileCorrect {
                background-color: colors.$correct;
                border: solid 2px colors.$correct;
                color: colors.$tile-text-color;
            }

            .tilePresent {
                background-color: colors.$present;
                border: solid 2px colors.$present;
                color: colors.$tile-text-color;
            }

            .tileAbsent {
                background-color: colors.$absent;
                border: solid 2px colors.$absent;
                color: colors.$tile-text-color;
            }

            .tileInput {
                border-color: colors.$tone-3;
            }
        }
    }
}

.dark {
    .board {
        .row {
            .tile {
                border-color: colors.$tone-3-dark;
                color: colors.$tone-1-dark;
            }

            .tileCorrect {
                background-color: colors.$correct-dark;
                border-color: colors.$correct-dark;
                color: colors.$tile-text-color-dark;
            }

            .tilePresent {
                background-color: colors.$present-dark;
                border-color: colors.$present-dark;
                color: colors.$tile-text-color-dark;
            }

            .tileAbsent {
                background-color: colors.$absent-dark;
                border-color: colors.$absent-dark;
                color: colors.$tile-text-color-dark;
            }
        }
    }
}
