$tone-1: #000000;
$tone-2: #787c7e;
$tone-3: #878a8c;
$tone-4: #d3d6da;
$tone-5: #edeff1;
$tone-6: #f6f7f8;
$tone-7: #ffffff;
$tone-8: #121212;
$tone-9: #dfdfdf;
$tone-10: #000000;
$tone-11: #787c7e;
$tone-12: #363636;
$nav-hover: #f4f4f4;
$opacity-50: rgba(255, 255, 255, 0.5);
$error-background: #e3e3e1;
$icon-disabled: #a6a6a6;
$green: #6aaa64;
$darkendGreen: #538d4e;
$yellow: #c9b458;
$darkendYellow: #b59f3b;
$lightGray: #d3d6da;
$gray: #86888a;
$gray-2: #dcdcdc;
$gray-3: #dfdfdf;
$darkGray: #939598;
$white: #fff;
$black: #212121;
$black-2: #121212;
$black-3: #363636;
$orange: #f5793a;
$blue: #85c0f9;
$present: $yellow;
$correct: $green;
$absent: $tone-2;
$tile-text-color: $tone-7;
$key-text-color: $tone-1;
$key-evaluated-text-color: $tone-7;
$key-bg: $tone-4;
$key-bg-present: $present;
$key-bg-correct: $correct;
$key-bg-absent: $absent;
$modal-content-bg: $tone-7;
$background: $tone-7;

$tone-1-dark: #ffffff;
$tone-2-dark: #818384;
$tone-3-dark: #565758;
$tone-4-dark: #3a3a3c;
$tone-5-dark: #272729;
$tone-6-dark: #1a1a1b;
$tone-7-dark: #121213;
$tone-8-dark: #ffffff;
$tone-9-dark: #424242;
$tone-10-dark: #dfdfdf;
$tone-11-dark: #dfdfdf;
$tone-12-dark: #dfdfdf;
$nav-hover-dark: #2f2f31;
$opacity-50-dark: rgba(0, 0, 0, 0.5);
$error-background-dark: $tone-7-dark;
$icon-disabled-dark: #59595a;
$green-dark: #6aaa64;
$darkendGreen-dark: #538d4e;
$yellow-dark: #c9b458;
$darkendYellow-dark: #b59f3b;
$lightGray-dark: #d3d6da;
$gray-dark: #86888a;
$gray-2-dark: #dcdcdc;
$gray-3-dark: #dfdfdf;
$darkGray-dark: #939598;
$white-dark: #fff;
$black-dark: #212121;
$black-2-dark: #121212;
$black-3-dark: #363636;
$orange-dark: #f5793a;
$blue-dark: #85c0f9;
$present-dark: $darkendYellow;
$correct-dark: $darkendGreen;
$absent-dark: $tone-4-dark;
$tile-text-color-dark: $tone-1-dark;
$key-text-color-dark: $tone-1-dark;
$key-evaluated-text-color-dark: $tone-1-dark;
$key-bg-dark: $tone-2-dark;
$key-bg-present-dark: $present;
$key-bg-correct-dark: $correct;
$key-bg-absent-dark: $absent;
$modal-content-bg-dark: $tone-7-dark;
$background-dark: $tone-7-dark;
