$font1: 'Roboto', sans-serif;
$font2: 'Open Sans', sans-serif;
$font3: 'Roboto Serif', serif;

$breakpoint-xs: 599px;
$breakpoint-sm: 899px;
$breakpoint-md: 1199px;
$breakpoint-lg: 1535px;
$breakpoint-xl: 1919px;
